.holder {
    display: flex;
    flex:1;
    flex-direction: column;


    
  }
.searchBar-from {
  
  }
.searchBar-to {
  width: 80%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;


}
