.holder {
    display: flex;
    flex:1;
    flex-direction: column;


    
  }
.searchBar-from {
  
  }
.seaarchbar{
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  margin-left: 40px;

  position: absolute;
  top: 20px;
  left: 5px;
  right: auto;
  height: 30px;
  width: 15vw;
  z-index: 10;
  border-radius: 10px;
  border: none;
  background: white; /* Set the bg image here. with "no-repeat" */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 10px;
}
