
.holder-app {
  display: flex;
  flex:1;
  flex-direction: row;

  max-height: 100vh;
  max-width: 99vw;
}
.searchBar {
  /* background-color: white ; */
  flex: 0 0 30vw;
  box-shadow: 12px 0 15px -15px rgb(0, 0, 0), -12px 0 15px -4px rgba(0, 0, 0, 0.8);
  z-index: 5;
  padding-top: 5vh;
  background: linear-gradient(180deg, #ffffff, #d3e0ff);
}
.map {
  flex: 0 0 70vw;
  overflow: auto;
  z-index: 4;
  padding-top: 5vh;
} 
.DirectionsDisplay {
  margin-top: 80px;
}
.NavigationBar{
  background-color: rgb(53, 53, 53);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 6vh;
  z-index: 10;
  padding-top: 2px;
  box-shadow:  12px 0 15px -15px rgb(0, 0, 0),  12px 0 15px -15px rgb(165, 0, 0), 12px 0 15px -15px rgb(238, 255, 0), -12px 0 15px -4px rgba(151, 151, 151, 0.8);
}
.NavigationBar h4 {
  color: white;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 23px;
}
