
.holder-app {
  display: flex;
  flex:1;
  flex-direction: row;

  max-height: 100vh;
  max-width: 99vw;

}
.searchBar {
  /* background-color: white ; */
  flex: 0 0 30vw;
}
.map {
  flex: 0 0 70vw;
  overflow: auto;
}